/Assignment_1/insurance_broker2.dia~
GroupProject/.metadata/
GroupProject/AwesomeJPA/.classpath
GroupProject/AwesomeJPA/.project
GroupProject/AwesomeJPA/build/
GroupProject/AwesomeJPA/.ecpproperties
GroupProject/AwesomeJPA/.settings/
GroupProject/ClassDiagram.dia~

GroupProject/TransformTest/.classpath
GroupProject/TransformTest/.project
GroupProject/TransformTest/.settings/
GroupProject/TransformTest/build

TransformTest.jar
GroupProject/TransformTest/jar/
